{% extends "../templates/base.html" %}

{% block content %}

<div class="page-header">
	<h1>Register <small>Create an account!</small></h1>
</div>

<form role="form" action="" method="post">
	{% csrf_token %}
	{% if form.errors %}
		<p>Please correct the following fields:</p>
	{% endif %}
	<div class="register-div">
		<p><label for="first_name" {% if form.first_name.errors %} class="error" {% endif %}>First name</label></p>
		<p>{{ form.first_name }}</p>
		{% if form.first_name.errors %}
			<p class="error">{{ form.first_name.errors }}</p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="last_name" {% if form.last_name.errors %} class="error" {% endif %}>Last name</label></p>
		<p>{{ form.last_name }}</p>
		{% if form.last_name.errors %}
			<p class="error">{{ form.last_name.errors }}</p>
		{% endif %}
	</div>	
	<div class="register-div">
		<p><label for="email" {% if form.email.errors %} class="error" {% endif %}>Email</label></p>
		<p>{{ form.email }}</p>
		{% if form.email.errors %}
			<p class="error">{{ form.email.errors }}</p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="username" {% if form.username.errors %} class="error" {% endif %}>User name</label></p>
		<p>{{ form.username }}</p>
		{% if form.username.errors %}
			<p class="error">{{ form.username.errors }}</p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="password" {% if form.password.errors %} class="error" {% endif %}>Password</label></p>
		<p>{{ form.password }}</p>
		{% if form.password.errors %}
			<p class="error">{{ form.password.errors }}</p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="password1" {% if form.password1.errors %} class="error" {% endif %}>Verify password</label></p>
		<p>{{ form.password1 }}</p>
		{% if form.password1.errors %}
			<p class="error">{{ form.password1.errors }}</p>
		{% endif %}
	</div>
	<p><input type="submit" alt="register" /></p>
</form>

{% endblock %}
