{% extends "../templates/base.html" %}

{% block content %}

<div class="page-header">
	<h1>Register <small>Create an account!</small></h1>
</div>

<form role="form" action="" method="post">
	{% csrf_token %}
	{% if form.errors %}
		<p><font color="red">Please correct the following fields:</font></p>
	{% endif %}
	<div class="register-div">
		<p><label for="first_name" {% if form.first_name.errors %} class="error" {% endif %}>First name</label></p>
		<p>{{ form.first_name }}</p>
		{% if form.first_name.errors %}
			<p class="error"><font color="red">{{ form.first_name.errors }}</font></p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="last_name" {% if form.last_name.errors %} class="error" {% endif %}>Last name</label></p>
		<p>{{ form.last_name }}</p>
		{% if form.last_name.errors %}
			<p class="error"><font color="red">{{ form.last_name.errors }}</font></p>
		{% endif %}
	</div>	
	<div class="register-div">
		<p><label for="email" {% if form.email.errors %} class="error" {% endif %}>Email</label></p>
		<p>{{ form.email }}</p>
		{% if form.email.errors %}
			<p class="error"><font color="red">{{ form.email.errors }}</font></p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="username" {% if form.username.errors %} class="error" {% endif %}>User name</label></p>
		<p>{{ form.username }}</p>
		{% if form.username.errors %}
			<p class="error"><font color="red">{{ form.username.errors }}</font></p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="password" {% if form.password.errors %} class="error" {% endif %}>Password</label></p>
		<p>{{ form.password }}</p>
		{% if form.password.errors %}
			<p class="error"><font color="red">{{ form.password.errors }}</font></p>
		{% endif %}
	</div>
	<div class="register-div">
		<p><label for="password1" {% if form.password1.errors %} class="error" {% endif %}>Verify password</label></p>
		<p>{{ form.password1 }}</p>
		{% if form.password1.errors %}
			<p class="error"><font color="red">{{ form.password1.errors }}</font></p>
		{% endif %}
	</div>
	<div class="checkbox">
    	<label>
      		<input type="checkbox"> I have read and agree to the <a href="/terms/">Terms of Use</a>.
    	</label>
  	</div>
	<button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}
