{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<style>
	.img-thumbnail {
		width: 190px;
		height: 170px;
	}
</style>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Category Index <small>A list of all food categories.</small></h1>
</div>

<div class="row text-center">
	{% for category in category_index %}
		<div class="col-md-2">
			{% if category.picture %}
				<a href="{{ category.get_absolute_url }}"><img src="/static/{{ category.picture }}" class="img-thumbnail"></a>
			{% else %}
				<a href="{{ category.get_absolute_url }}"><img src="{% static "images/defaultPicture.png" %}" class="img-thumbnail"></a>
			{% endif %}
			<h4><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h4>
		</div>
		{% if forloop.counter|divisibleby:"6" and not forloop.last %}
			</div>
			<div class="row">
		{% endif %}
	{% endfor %}
</div>
{% endblock %}
