{% extends "base.html" %}

{% load static %}
{% load ratings_tags %}

{% block content %}
<div class = "container">
	<div class="page-header">
		<h1 class = "text-center">{{ food.restaurant }} {{ food.name }}</h1>
	</div>
	<div class = "row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			{% if food.picture %}
				<p class = "text-center"><img src="/static/assets/{{ food.picture }}" width="200" /></p>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<p>Category: {{ food.category }}</p>
			<p>Price: ${{ food.price|floatformat:2 }}</p>

			{% get_rating_score for food as score %}
			{% if score %}
    			<p>Rating: {{ score.average|floatformat }}</p>
    			<p># of Ratings: {{ score.num_votes }}</p>
			{% else %}
    			<p>No ratings for {{ food }} yet. Be the first!</p>
			{% endif %}

			{% get_rating_form for food as rating_form %}
			<form action="{% url 'ratings_vote' %}" method="post">
    			{% csrf_token %}
    			<p>{{ rating_form }}</p>
    			<p><button type="submit" class="btn btn-primary">Vote &rarr;</button></p>
			</form>
			<p><a href="/food/categories/{{ food.category.slug }}/">Back to {{ food.category }}</a></p>
		</div>
	</div>
</div>
{% endblock %}
