{% extends "base.html" %}
{% load static %}
{% load ratings_tags %}
{% load comments %}

{% block extrahead %}
<script src="{% static 'assets/star-rating/jquery.js' %}" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
<link href="{% static 'assets/star-rating/jquery.rating.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'assets/star-rating/jquery.MetaData.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/star-rating/jquery.rating.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1 class="text-center">{{ food.restaurant }} {{ food.name }}</h1>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			{% if food.picture %}
				<p class="text-center"><img src="/static/assets/{{ food.picture }}" alt="..." class="img-thumbnail"></p>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<p><strong>Category:</strong> {{ food.category }}</p>
			<p><strong>Price:</strong> ${{ food.price|floatformat:2 }}</p>

			{% get_rating_score for food as score %}
			{% if score %}
    			<p><strong>Rating:</strong> {{ score.average|floatformat }}</p>
			{% else %}
    			<p>No ratings for {{ food }} yet. Be the first!</p>
			{% endif %}

			{% get_rating_form for food as rating_form %}
			<form role="form" action="{% url 'ratings_vote' %}" method="post">
    			{% csrf_token %}
    			<p>{{ rating_form }}&nbsp;({{ score.num_votes }})</p>
    			<p><button type="submit" class="btn btn-primary">Vote &rarr;</button></p>
			</form>
			<p><a href="/food/categories/{{ food.category.slug }}/">Back to {{ food.category }}</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			{% if user.is_authenticated %}
		    	{% get_comment_form for food as form %}
		    	<form role="form" action="{% comment_form_target %}" method="post">
		    		{% csrf_token %}
		    		<h3>{{ form.comment.label_tag }}</h3><p>{{ form.comment }}</p>
		    		<p style="display:none;">{{ form.honeypot }}</p>
		    		<p>{{ form.content_type }}</p>
		    		<p>{{ form.object_pk }}</p>
		    		<p>{{ form.timestamp }}</p>
		    		<p>{{ form.security_hash }}</p>
		    		<input type="hidden" name="next" value="/food/categories/{{ food.category.slug }}/{{ food.slug }}/{{ food.id }}/" />
		    		<p class="submit">
		    			<button type="submit" name="post" class="btn btn-primary">Post</button>
		    			<button type="submit" name="preview" class="btn btn-primary">Preview</button>
		    		</p>
		    	</form>
			{% else %}
				{% get_comment_form for food as form %}
				<form role="form" action="{% comment_form_target %}" method="post">
					{% csrf_token %}
		  			{% for field in form %}
		    			{% if field.is_hidden %}
		      				<div>{{ field }}</div>
		    			{% else %}
		      				<p
		        				{% if field.errors %} class="error" {% endif %}
		        				{% ifequal field.name "honeypot" %} style="display:none;" {% endifequal %}>
		        				{{ field.label_tag }} {{ field }}
		      				</p>
		      				{% if field.errors %} {{ field.errors }} {% endif %}
		    			{% endif %}
		  			{% endfor %}
		  			<input type="hidden" name="next" value="/food/categories/{{ food.category.slug }}/{{ food.slug }}/{{ food.id }}/" />
		  			<p class="submit">
		    			<button type="submit" name="post" class="btn btn-primary">Post</button>
		    			<button type="submit" name="preview" class="btn btn-primary">Preview</button>
		  			</p>
				</form>
			{% endif %}
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<h3>Comments:</h3>
			{% get_comment_count for food as comment_count %}
			{% if comment_count == 0 %}
				<h4>No comments yet!</h4>
			{% else %}
				{% render_comment_list for food %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
