{% extends "base.html" %}
{% load ratings_tags %}

{% block content %}
<div class="page-header">
	<h1>Food Index <small>A list of all food items.</small></h1>
</div>

<h3><a href="/food/submit/">Submit Food Item</a></h3>

{% if food_index.count > 0 %}
	{% for food in food_index %}
		<h2><a href="{{ food.get_absolute_url }}">{{ food.name }}</a></h2>
		<ul>
			<li>Restaurant: {{ food.restaurant }}</li>
			<li>Category: {{ food.category }}</li>
			<li>Price: ${{ food.price|floatformat:2 }}</li>
			{% get_rating_score for food as score %}
			{% if score %}
				<li>Rating: {{ score.average|floatformat }}</li>
			{% else %}
				<li>No ratings for {{ food }} yet. Be the first!</li>
			{% endif %}
		</ul>
	{% endfor %}
{% else %}
	<h3>None to show!</h3>
{% endif %}
{% endblock %}
