{% extends "base.html" %}

{% block extrahead %}
<style>
	.img-thumbnail {
		width: 190px;
		height: 170px;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 30px;
	}
</style>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ restaurant.name }} <small>A list of all {{ restaurant.name }} food items.</small></h1>
</div>

<div class="alert alert-danger text-center" >
	<h4>Don't see a food item you like? <a href="/food/submit/">Click here to submit a new item.</a></h4>
</div>


<div class="row text-center">
	{% for food in food_list %}
		<div class="col-md-3">
			{% if food.picture %}
				<a href="{{ food.get_absolute_url }}"><img src="https://s3.amazonaws.com/ivwhattoeat/{{ food.picture }}" class="img-thumbnail"></a>
			{% else %}
				<a href="{{ food.get_absolute_url }}"><img src="https://s3.amazonaws.com/ivwhattoeat/images/defaultPicture.png" class="img-thumbnail"></a>
			{% endif %}
			<h3><a href="{{ food.get_absolute_url }}">{{ food.name }}</a></h3>
		</div>
		{% if forloop.counter|divisibleby:"4" and not forloop.last %}
			</div>
			<div class="row text-center">
		{% endif %}
	{% empty %}
		<h3>None to show!</h3>
	{% endfor %}
</div>

<p><a href="/food/restaurants/">Back to Restaurants</a></p>
{% endblock %}
