{% extends "../templates/base.html" %}
{% load static %}

{% block content %}
<div class="page-header">
	<h1>What to Eat <small>Here is a random food item for you!</small></h1>
</div>

<div>
	<h2><a href="/food/{{ random_food.id }}/">{{ random_food.name }}</a></h2>
	<ul>
		<li>Restaurant: {{ random_food.restaurant }}</li>
		<li>Category: {{ random_food.category }}</li>
		<li>Rating: {{ random_food.rating }}</li>
		<li>{{ random_food.likes }} {% if random_food.likes == 1 %}like{% else %}likes{% endif %}</li>

		{% if food.thumbnail %}
			<p><img src="/static/assets/{{ random_food.thumbnail }}" width="200" /></p>
		{% endif %}
	</ul>
</div>
{% endblock %}
