{% extends "base.html" %}
{% load static %}
{% load ratings_tags %}

{% block extrahead %}
<script src="{% static 'assets/star-rating/jquery.js' %}" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
<link href="{% static 'assets/star-rating/jquery.rating.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'assets/star-rating/jquery.MetaData.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/star-rating/jquery.rating.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>What to Eat <small>Here is a random food item for you!</small></h1>
</div>

<h3><a href="/food/whattoeat/">Generate</a></h3>

<h2><a href="/food/categories/{{ random_food.category.slug }}/{{ random_food.slug }}/{{ random_food.id }}/">{{ random_food.name }}</a></h2>
<ul>
	<li><strong>Restaurant:</strong> {{ random_food.restaurant }}</li>
	<li><strong>Category:</strong> {{ random_food.category }}</li>
	<li><strong>Price:</strong> ${{ random_food.price|floatformat:2 }}</li>
	
	{% get_rating_score for random_food as score %}
	{% if score %}
	    <li><strong>Rating:</strong> {% show_starrating score 5.5 2 %}&nbsp;({{ score.num_votes }})</li>
	{% else %}
	    <li>No ratings for {{ random_food }} yet. Rate it <a href="/food/categories/{{ random_food.category.slug }}/{{ random_food.slug }}/{{ random_food.id }}/">here</a>!</li>
	{% endif %}
</ul>

{% if random_food.picture %}
	<p><img src="/static/assets/{{ random_food.picture }}" alt="..." class="img-thumbnail" width="300"></p>
{% else %}
	<p><img src="{% static "assets/images/defaultPicture.png" %}" alt="..." class="img-thumbnail" width="200"></p>
{% endif %}
{% endblock %}
