{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>I.V. What to Eat <small>What you need to know about this site.</small></h1>
</div>

<p>IV What to Eat is a Web App where users can look up individual menu items from the various restaurants in Isla Vista. Users can submit ratings and comments for existing items, as well as search for specific items based on category, price, and restaurant. The Home Page will display an Item of the Week (the most searched item of the past week), a search box, a submission button to allow for users to add new items to the database, and links to the various categories of food. The search box will also contain a feature that shows the most similar items based on keywords the user is typing. There will also be a button called 'What to Eat' that will randomly generate a food item. Users will be able to login to the site and access their saved profile.</p>
{% endblock %}
