<!DOCTYPE html>
<html>
  <head>
    <title>IV What to Eat</title>
    <link rel="shortcut icon" href="/static/food/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/food/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IV What to Eat</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/food/foodoftheday/">Food of the Day</a></li>
          <li><a href="/food/whattoeat/">What to Eat</a></li>
          <li class="dropdown">
            <a href="/food/categories/" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/food/categories/american/">American</a></li>
              <li><a href="/food/categories/mexican/">Mexican</a></li>
              <li><a href="/food/categories/chinese/">Chinese</a></li>
              <li class="divider"></li>
              <li><a href="/food/categories/">More...</a></li>
              <li class="divider"></li>
              <li><a href="/food/categories/submit/">Submit Category</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">  
          {% if user.is_authenticated %}
            <li><a href="/accounts/profile/">Hey, {{ user.username }}!</a></a></li>
            
            <li><a href="/accounts/logout/">Logout</a></li>
          {% else %}
            <li><a href="/accounts/register/">Register</a></li>
            <li><a href="/accounts/login/">Login</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="container">
      <footer id="footer-div">
        <div>
          <a class="footer-link" href="/about/">About</a>
          <a class="footer-link" href="/terms/">Terms of Use</a>
        </div>
        <div></div>
        <p class="pull-left">© 2014 IV What to Eat. All Rights Reserved.</p>
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
