{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<style>
  .jumbotron {
    background-image: url(https://s3.amazonaws.com/ivwhattoeat/images/3499197531_3a50315917_o.jpg);
  }

  #text {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 id="text">I.V. What to Eat</h1>
  <p id="text">The one-stop directory for everything to eat in Isla Vista.</p>
  <p><a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/ivwhattoeat/images/FreebirdsNacho.jpg">
      <div class="caption">
        <h3>Food of the Week</h3>
        <p>The featured food item of this week, chosen from the restaurants of Isla Vista!</p>
        <p><a href="/food/chicken-nachos/5/" class="btn btn-primary" role="button">Read More</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/ivwhattoeat/images/Dinner.jpg">
      <div class="caption">
        <h3>What to Eat</h3>
        <p>Feeling lucky? Click below to generate a random food item!</p>
        <p><a href="/food/whattoeat/" class="btn btn-primary" role="button">Random Food</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/ivwhattoeat/images/BuddhaBowl.jpg">
      <div class="caption">
        <h3>Submit</h3>
        <p>Know of an item that isn't on the site yet? Submit it now by clicking below!</p>
        <p><a href="/food/submit/" class="btn btn-primary" role="button">Submit</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
