{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>Password reset</h1>
</div>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<form role="form" action="" method="post">
	{% csrf_token %}
	<div class="form-group">
		{{ form.email.errors }}
		<p><label for="id_email">Email address: </label> {{ form.email }} <button type="submit" class="btn btn-primary">Reset my password</button></p>
	</div>
</form>
{% endblock %}
